/*
    alfa-slab-one-regular
    https://google-webfonts-helper.herokuapp.com/fonts/alfa-slab-one?subsets=latin,latin-ext,vietnamese
*/
@font-face {
    font-family: 'HeadlineFont';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alfa-slab-one-v17-vietnamese_latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/alfa-slab-one-v17-vietnamese_latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alfa-slab-one-v17-vietnamese_latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alfa-slab-one-v17-vietnamese_latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/alfa-slab-one-v17-vietnamese_latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alfa-slab-one-v17-vietnamese_latin-ext_latin-regular.svg#AlfaSlabOne') format('svg'); /* Legacy iOS */
}

:root {
    --fs-font-family-headline: HeadlineFont, serif;
    --fs-font-family-body: sans-serif;
}
